/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Tt]rash/
/[Kk]eys/
/[Mm]emoryCaptures/
/[Rr]ecordings/


[Tt]est[Rr]esult
[Bb]uild/
[Bb]in 
[Dd]ebug/ 
[Rr]elease/ 
ExportedObj/
*BurstDebugInformation*/
*ExportedObj/


*/.vs/
*/[Ll]ibrary/
*/[Tt]emp/
*/[Oo]bj/
*/[Ll]ogs/
*/[Uu]ser[Ss]ettings/
*/[Mm]emoryCaptures/
*/[Tt]rash


ipch/
obj/
.vs/
.idea/
.gradle/
.vscode/
_ReSharper*/
.consulo/


*/sysinfo.txt
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.apk
*.csproj
*.unityproj
*.sln
*.tmp
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.log
*.aab
*.unitypackage
*.app
*.[Oo]bj 
*.user 
*.aps 
*.pch 
*.vspscc 
*.vssscc 
*_i.c 
*_p.c 
*.ncb 
*.suo 
*.tlb 
*.tlh 
*.bak 
*.[Cc]ache 
*.ilk 
*.lib 
*.sbr 
*.sdf 


.vsconfig
.pyc 
.xml
.resharper
.svn 


/UnityLockfile
Ankh.NoLoad
sysinfo.txt
crashlytics-build.properties
